:root {
    --color: white;
    --background: #513874;
    --logo-color: turquoise;
    --link-color: turquoise; /* #52ef9e; */

    font: normal 100%/1.25 sans-serif;
    color: var(--color);
    background: var(--background);
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    margin: 1em 0;
}
a,
a:hover,
a:visited,
a:active {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: .05em solid;
}
.layout {
    display: flex;
    max-width: 48em;
    justify-content: center;
    padding: 0 0 5vh;
    margin: 0 auto;
}
header,
main {
    padding: 1em 2em 1.3em;
}
header {
    text-align: right;
    flex-basis: 25%;
}
header h1 {
    font-size: 5em;
    font-style: italic;
    line-height: 1;
    color: var(--logo-color);
    text-shadow: 0 0 .12em var(--logo-color);
    margin: -.2em 0 0;
}
header h1 span {
    display: inline-block;
    transform: scaleY(.65);
}
header p {
    font-size: .85em;
    margin: 0;
}
header p span {
    display: block;
    white-space: nowrap;
    margin-top: .25em;
}
header p span.sep {
    display: none;
}
main {
    --border: .075em solid;

    border-left: var(--border);
}
main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
main li + li {
    margin-top: 1em;
}
main li a {
    font-size: 1.3em;
}
main li a span {
    font-weight: bold;
}
main li .description {
    display: none;
    margin-top: .1em;
}
@media (max-width: 600px) {
    .layout {
        display: block;
        width: 100%;
        max-width: none;
        margin: 0 1.5em;
    }
    header,
    main {
        padding: 1.5em .75em 1.8em;
    }
    header {
        text-align: center;
    }
    main {
        text-align: center;
        border-left: none;
        border-top: var(--border);
    }
    main li {
        margin-top: .75em;
    }
    main li + li {
        margin-top: 1.25em;
    }
}
