:root {
  --background: #f0eff4;
  --code-block-background: #fff8;
  --line-color: #3e2b5920;

  --aux-color: #9f95ac;
  --aux-background: #3e2b59;
  --aux-background-end: #3e2b59;
  --aux-border-color: #704aa6;
  --aux-link-color: turquoise;
  --aux-secondary-color: var(--aux-color);
  --aux-emphatic-color: #cec9d5;
  --aux-line-color: var(--aux-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --code-block-background: #1d2331;
    --line-color: #383a3e;

    --aux-color: #9f95ac;
    --aux-background: #3e2b59;
    --aux-background-end: #3e2b59;
    --aux-border-color: #704aa6;
    --aux-link-color: turquoise;
    --aux-secondary-color: var(--aux-color);
    --aux-emphatic-color: #cec9d5;
    --aux-line-color: var(--aux-color);
  }
}
@media (prefers-color-scheme: light) {
  pre {
    box-shadow: 0 0 0.05rem 0 var(--code-block-color);
  }
}
[data-layout="index"] p.glyph {
  margin: 0;
}
