:root {
  --background: #ecebef; /* = #3e2b5918 */
  --code-block-background: #fff8;
  --line-color: #3e2b5920;

  --aux-color: #9f95ac;
  --aux-background: #3e2b59;
  --aux-background-end: #3e2b59;
  --aux-border-color: #704aa6;
  --aux-link-color: turquoise;
  --aux-secondary-color: var(--aux-color);
  --aux-emphatic-color: #cec9d5;
  --aux-line-color: var(--aux-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --aux-color: #9f95ac;
    --aux-background: #3e2b59;
    --aux-background-end: #3e2b59;
    --aux-border-color: #704aa6;
    --aux-link-color: turquoise;
    --aux-secondary-color: var(--aux-color);
    --aux-emphatic-color: #cec9d5;
    --aux-line-color: var(--aux-color);
  }
}
[data-layout="index"] p.glyph {
  margin: 0;
}
