:root {
  --base-color: #f8f8f8;
  --color: #f8f8f8a6;
  --emphatic-color: #f8f8f8c0;
  --secondary-color: #f8f8f880;
  --background: #3e2b59;
  --link-color: turquoise; /* #52ef9e; */

  --padding-x: 2rem;
  --box-gap: 1.5rem;
  --box-width: 22rem;
  --box-height: 5.6em;
  --icon-size: 0.65em;
  --max-layout-width: calc(3 * var(--box-width) + 2 * var(--box-gap) + 2 * var(--padding-x));

  font: normal 100% / 1.35 sans-serif;
  color: var(--color);
  background: var(--background);
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin: 1em 0;
}
a,
a:hover,
a:visited,
a:active {
  --color: var(--link-color);
  color: var(--link-color);
  text-decoration-thickness: 0.02rem;
  text-underline-offset: 0.18em;
}
.layout {
  display: flex;
  flex-direction: column;
  max-width: var(--max-layout-width);
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.35rem var(--padding-x) 0.75rem;
  box-sizing: border-box;
}
header h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--link-color);
  text-shadow: 0.03em 0.03em 0 #000c, 0 0 0.5em #40e0d075;
  margin: 0;
}
header p {
  margin: 0.5rem 0 0 0;
}
header p > span {
  display: block;
  white-space: nowrap;
}
header p > span ~ span {
  margin-top: 0.75em;
}
header p > span .sep {
  display: inline-block;
  margin: 0 0.15em;
}
header p br {
  display: none;
}
main h2 {
  font-size: 1.25em;
  color: var(--emphatic-color);
  text-align: center;
  border-bottom: 0.05rem solid;
  padding-bottom: 0.2rem;
}
main {
  padding: 1.5rem var(--padding-x);
  box-sizing: border-box;
}
main .board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--box-width), 1fr));
  gap: var(--box-gap);
  line-height: 1.25;
}
main ul {
  display: contents;
  list-style: none;
  padding: 0;
  margin: 0;
}
main li {
  --border-color: var(--color);
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
  box-shadow: 0 0 0.1em var(--border-color);
  padding: 0.75rem 1.1rem 0.85rem;
  margin: 0;
  box-sizing: border-box;
}
main li br {
  display: none;
}
main li > span {
  display: inline-block;
}
main li .name {
  font-size: 1.3em;
}
main li .name strong {
  color: var(--emphatic-color);
}
main li .description {
  flex: auto;
  font-size: 0.9em;
  margin-top: 0.35em;
}
main li .links {
  margin-top: 0.75em;
}
main li .links .sep {
  display: inline-block;
  margin: 0 0.15em;
}
footer {
  font-size: 0.85em;
  color: var(--secondary-color);
  text-align: center;
  border-top: 0.05em dotted;
  margin: 0.5rem var(--padding-x);
  box-sizing: border-box;
}
footer .date {
  font-size: 0.8em;
  margin-left: 0.5em;
}
@media (max-width: 600px) {
  :root {
    --padding-x: 1rem;
    --box-gap: 1.25rem;
  }
  footer {
    border-top: none;
  }
  footer p {
    margin-top: 0;
  }
}
