:root {
    --color: white;
    --background: #3e2b59;
    --logo-color: turquoise;
    --link-color: turquoise; /* #52ef9e; */
    --smaller-font-size: .85em;

    font: normal 100%/1.25 system-ui, sans-serif;
    color: var(--color);
    background: var(--background);
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    margin: 1em 0;
}
a,
a:hover,
a:visited,
a:active {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: .05em solid;
}
.layout {
    display: flex;
    max-width: 48em;
    justify-content: center;
    padding: 5vh 0 10vh;
    margin: 0 auto;
}
header,
main {
    padding: 1em 2em 1.3em;
    box-sizing: border-box;
}
header {
    min-width: 36%;
    text-align: right;
}
header h1 {
    font-size: 6rem;
    margin: -.45em 0 0;
    opacity: 1;
}
header h1.text span {
    display: inline-block;
    font-style: italic;
    line-height: 1;
    color: var(--logo-color);
    text-shadow: 0 0 .075em var(--logo-color);
    transform: scaleY(.65);
    margin-top: -.175em;
}
header h1.loading {
    opacity: 0;
}
header h1.text + p {
    margin: -2rem 0 0;
}
header h1.image {
    height: 1.2em;
}
header h1.image img {
    width: auto;
    height: 1.2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header h1.image span {
    display: inline-block;
    width: 1em;
    height: .625em;
    margin-right: -.05em;
    position: relative;
    overflow: hidden;
}
header h1.image + p {
    margin: -.75em 0 0;
}
header p span {
    display: block;
    white-space: nowrap;
    margin-top: .25em;
}
header p span.sep {
    display: none;
}
main {
    --border: .075em solid;

    border-left: var(--border);
}
main section + section {
    margin-top: 2.5em;
}
main h2 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}
main ul {
    --icon-size: .8em;

    list-style: none;
    padding: 0;
    margin: 0;
}
main li + li {
    margin-top: 1em;
}
main li a {
    font-size: 1.25em;
    position: relative;
}
main li a span {
    font-weight: bold;
}
main li .description {
    display: none;
    margin-top: .1em;
}
main li a[href^="https://github.com/"]::after {
    content: "";
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    background: url("gh.svg") 50% 50%/contain no-repeat;
    position: absolute;
    right: -.5em;
    top: 55%;
    transform: translate(100%, -50%);
    opacity: .5;
}
@media (max-width: 600px) {
    .layout {
        display: block;
        width: 100%;
        max-width: none;
        margin: 0 1.5em;
    }
    header,
    main {
        padding: 1.5em .75em 1.8em;
    }
    header {
        text-align: center;
    }
    header h1.image span {
        margin-right: 0;
    }
    main {
        text-align: center;
        border-left: none;
        border-top: var(--border);
    }
    main section {
        margin-top: .5em;
    }
    main li {
        margin-top: .75em;
    }
    main li + li {
        margin-top: 1.25em;
    }
}
