:root {
  --color: white;
  --background: #3e2b59;
  --link-color: turquoise; /* #52ef9e; */
  --content-color: color(from var(--color) srgb r g b / 0.5);

  --padding-x: 2rem;
  --max-layout-width: 60rem;
  --box-width: 18rem;
  --box-height: 4.8em;
  --icon-size: 0.65em;

  font: normal 100% / 1.25 sans-serif;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--content-color);
  background: var(--background);
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin: 1em 0;
}
a,
a:hover,
a:visited,
a:active {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 0.05em solid;
}
.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-layout-width);
  justify-content: center;
  padding: 5vh 0 10vh;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
  color: color(from var(--color) srgb r g b / 0.75);
  padding: 0.75rem var(--padding-x);
  box-sizing: border-box;
}
header h1 {
  font-size: 6.4rem;
  width: 0.8em;
  height: 0.42em;
  line-height: 1;
  margin: 0;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
header h1 img {
  width: 1em;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header p {
  margin: 0 0 0 1rem;
}
header p span {
  display: block;
  white-space: nowrap;
}
header p span.sep {
  display: none;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--box-width), 1fr));
  gap: 1rem;
  padding: 1rem var(--padding-x) 1.3rem;
  box-sizing: border-box;
}
main ul {
  display: contents;
  list-style: none;
  padding: 0;
  margin: 0;
}
main a,
main a:hover,
main a:visited,
main a:active {
  border: 0.05em solid color(from var(--link-color) srgb r g b / 0.5);
  transition: border-color 0.3s;
}
main a:hover {
  border-color: var(--link-color);
}
main li {
  padding: 0;
  margin: 0;
}
main li a {
  display: flex;
  min-height: var(--box-height);
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}
main li a[href^="https://github.com/"] .name::after {
  content: "";
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  background: url("gh.svg") 50% 50% / contain no-repeat;
  position: absolute;
  right: calc(-1 * (var(--icon-size) + 0.45em));
  top: 0.36em;
  opacity: 0.25;
}
main li a .name {
  display: inline-block;
  font-size: 1.15em;
  align-self: flex-start;
  position: relative;
}
main li a .sep {
  display: none;
}
main li a .description {
  display: block;
  font-size: 0.75em;
  color: var(--content-color);
  margin-top: 0.25em;
}
@media (max-width: 600px) {
  :root {
    --padding-x: 1.5rem;
  }
  body {
    align-items: flex-start;
  }
  .layout {
    display: block;
    width: 100%;
    max-width: none;
    padding: 0.75rem 0;
    margin: 0;
  }
  header {
    align-items: flex-start;
  }
  header h1 {
    font-size: 4.8rem;
  }
  header p {
    margin-left: 0.75rem;
  }
  main {
    --box-height: auto;

    display: block;
    font-size: 1.2rem;
  }
  main ul {
    display: block;
    margin-top: 0.5em;
  }
  main ul + ul,
  main li + li {
    margin-top: 1.25em;
  }
  main a,
  main a:hover,
  main a:visited,
  main a:active {
    border: none;
  }
  main li a {
    padding: 0;
  }
  main li a .name {
    border-bottom: 0.05em solid;
  }
  main li a .description {
    margin-top: 0.35em;
  }
}
